body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2F1E36;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  /* pointer-events: none; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
