body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #2F1E36;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.layout-one {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #fff;
}

.layout-one-header {
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  height: 160px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
}

.layout-one-header-body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: 1200px;
  background-repeat: no-repeat;
}

.movie-search-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  align-self: center;
  width: auto;
}

.movie-search-field {
  align-self: center;
  height: 30px;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  padding: 6px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

.movie-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 30px;
  color: #fff;
}

.movie-details-zone {
  display: flex;
  flex: 1 1;
  margin-bottom: 30px;
}

.movie-list-zone {
  display: flex;
  flex: 1 0 auto;
  height: 300px;
}

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  /* pointer-events: none; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
